# 忽略 model 目录下的所有文件
4.MADDPG_MATD3_MPE/model/
gym_pybullet_drones/new_envs/model/

# 忽略 runs 目录下的所有文件
4.MADDPG_MATD3_MPE/runs/
gym_pybullet_drones/new_envs/runs/

# 忽略circle camera环境
5.RNN_MATD3_Circle/